<%- include('./partial/header.ejs') %>

<div id="loginModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= title %></h5>
            </div>
            <div id="modalBody" class="modal-body" style="left: 25%">
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>
        </div>
    </div>
</div>

<%- include('./partial/footer.ejs') %>
