<%- include('./partial/header.ejs') %>

<div class="jumbotron">
    <h1>Not Authorized</h1>
    <h3>This is an admin-only page. Unable to authorize you at this moment. Please logout and login again.</h3>
    <h5>If this issue persists, make sure you're an admin.</h5>
</div>

<%- include('./partial/footer.ejs') %>
