<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta lang="en">
  <meta name="description" content="Admin home page for DoonStore web application. Manage your orders from here.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-signin-client_id" content="1063953716752-1u741lk6as1auesk8v066eco65h49klc.apps.googleusercontent.com">
  <meta name="google-signin-cookiepolicy" content="single_host_origin">
  <meta name="google-signin-scope" content="profile email">
  <title><%= title %></title>

  <script defer src="/__/firebase/7.15.0/firebase-app.js"></script>
  <script defer src="/__/firebase/7.15.0/firebase-auth.js"></script>
  <script defer src="/__/firebase/init.js"></script>
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/admin"><%= title %></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orders">Orders</a>
      </li>
    </ul>
  </div>
  <div>
    <span class="btn btn-outline-secondary my-2 my-sm-0"><i data-feather="user"></i><%= user.displayName %></span>
    <span class="btn btn-outline-danger my-2 my-sm-0" type="button" onclick="signOut()"><i
              data-feather="log-out"></i> Logout
    </span>
  </div>
</nav>
