<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta lang="en">
  <meta name="description" content="Landing page for DoonStore admin portal. Login to continue.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-signin-client_id" content="1063953716752-1u741lk6as1auesk8v066eco65h49klc.apps.googleusercontent.com">
  <meta name="google-signin-cookiepolicy" content="single_host_origin">
  <meta name="google-signin-scope" content="profile email">
  <title><%= title %></title>

  <script defer src="/__/firebase/7.15.0/firebase-app.js"></script>
  <script defer src="/__/firebase/7.15.0/firebase-auth.js"></script>
  <script defer src="/__/firebase/init.js"></script>
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
